@tailwind base;
@tailwind components;
@tailwind utilities;


@media only screen and (max-width: 640px) {
    html {
        font-size: 14px;
    }
}

.spinner {
    border: 2px solid #f3f4f6;
    border-top: 2px solid #059669;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}